@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!Doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title> Index </title>
</head>

<body>
    <h3>Anime Waifus for sale</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        @foreach (var product in ViewBag.products)

        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td> <img src="~/images/@product.Photo" width=60/> </td>
                <td>@product.Price</td>
                <td align = "center">
                    <a asp-controller ="cart" asp-action = "buy" asp-route-id = "@product.Id"> Buy Now </a>
                </td>





            </tr>

        }



    </table>
        
     </body>






</html>